
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;500;700&display=swap');

.each-item{
    max-width: 300px;
    background-color: #fff;
    margin: auto;
    border-radius: 5px;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.post-title{
    font-size: 17px;    
    font-family: "Noto Serif", serif;  
    font-weight: 700;
    color: #333;
    margin-top: 8px;
    margin-bottom: 4px;
}


.each-item-image{    
    max-height: 150px;
    max-width: 280px;
    object-fit: cover;    
    border-radius: 5px 5px 0px 0px;    
    margin-left: 8px;
}
.post-owner{
    font-size: medium;
    font-family: "Roboto", serif;
    color: #3f3f3f;
    margin-top: 4px;
    margin-left: 8px;
}

